# Runtime, required
chardet~=3.0
lz4>=2.2.1
pywin32>=220,<225
pyyaml>=5.3
# Runtime, recommended
scandir~=1.9
# Compile/Build-time
https://bintray.com/loot/snapshots/download_file?file_path=loot_api_python-4.0.2-7-g580bf87_master-python2.7-win64.zip
pygit2~=0.28
pyfiglet~=0.8
