# Runtime, required
chardet~=3.0
pywin32>=220,<225
https://download.lfd.uci.edu/pythonlibs/t7epjj8p/wxPython_common-3.0.2.0-py2-none-any.whl
https://download.lfd.uci.edu/pythonlibs/t7epjj8p/wxPython-3.0.2.0-cp27-none-win_amd64.whl
# Runtime, recommended
https://bintray.com/loot/snapshots/download_file?file_path=loot_api_python-4.0.2-7-g580bf87_master-python2.7-win64.zip
scandir~=1.9
# Compile/Build-time
pygit2~=0.28
pyfiglet~=0.8
https://download.lfd.uci.edu/pythonlibs/t7epjj8p/py2exe-0.6.10a1-cp27-none-win_amd64.whl
